@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

body {
    background-color: #f8f4f1;
    text-align: center;
    font-family: "Gamja Flower", sans-serif;
}

h1 {
    font-size: 5rem;
    text-align: center;
    font-family: "Caveat Brush", cursive;
    margin-top: 32px;
    margin-bottom: 20px;
}

input {
    font-family: "Gamja Flower", sans-serif;
    font-size: 17px;
    margin-bottom: 16px;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 2px 2px 4px gray;
}

button {
    font-family: "Gamja Flower", sans-serif;
    font-size: 17px;
    margin-bottom: 16px;
    border-radius: 10px;
    padding: 5px;   
    font-weight: 90;
    box-shadow: 2px 2px 4px gray;
    color: green;
}

button:hover{
     filter: brightness(0.85);
     color:  green;
     cursor: pointer;
}

.botaoApagar{
    color: rgb(255, 64, 64);
}

.botaoApagar:hover{
     filter: brightness(0.85);
     color: red;
     cursor: pointer;
}

.elemento{
    font-size: 23px;
    margin: 5px;
    margin-top: 15px;
    padding: 2px;
    border-bottom: 2px dashed #ccc;
}