@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

body {
    background-color: #f8f4f1;
    text-align: center;
    font-family: "Gamja Flower", sans-serif;
}

h1 {
    font-size: 5rem;
    text-align: center;
    font-family: "Caveat Brush", cursive;
    margin-top: 32px;
    margin-bottom: 20px;
}

input, button {
    font-family: "Gamja Flower", sans-serif;
    font-size: 17px;
    margin-bottom: 16px;
    border-radius: 10px;
    padding: 5px;
}

.elemento{
    font-size: 23px;
    margin: 5px;
    padding: 1px;
    border-bottom: 2px dashed #ccc;
}



